.login {
    padding-top: 5rem;
}
.login-background {
    height: 100%;
    background: center no-repeat fixed
        url("http://images.ioliu.cn/bing/HallwylfjelletSunset_ZH-CN9300910376_1920x1080.jpg");
    background-size: cover;
}
.login-callout {
    border-radius: 0.625rem;
}
.login-content {
    padding: 0.9375rem;
}
.login-input {
    border-radius: 0.3125rem;
}
.login-button {
    margin-bottom: 0;
    border-radius: 0.3125rem;
}
.site-padding {
    padding-top: 2rem;
}
.display-inline-block, .label-inline-block label {
    display: inline-block;
}